@import url(../typo/scoreboard/stylesheet.css);
@import url(../typo/passion_one/stylesheet.css);
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
ul {
  list-style: none;
}
button,
input,
select,
textarea {
  margin: 0;
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
img,
embed,
iframe,
object,
audio,
video {
  height: auto;
  max-width: 100%;
}
iframe {
  border: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
  text-align: left;
}
/* 
font-size: 100%; // this is usually 16px by default 
*/
html {
  font-family: passion_oneregular;
}
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.card-header {
  justify-items: center;
}
#grey {
  filter: url(#grayscale);
  fill: red;
}
tete.Question {
  background-color: #e0a47b;
}
tete.Bonus {
  background-color: #cb81ac;
}
tete.Information {
  background-color: #96e1f1;
}
tete.FermeInfo {
  background-color: #d6c9c0;
}
.green {
  background-color: #a7d092;
  border-color: transparent;
}
.rouge {
  background-color: #eea1a1;
  border-color: transparent;
}
.btn-warning {
  border-color: transparent;
  padding-left: 35px;
  width: -webkit-fill-available;
  padding-right: 5px;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  background-image: url("../images/pelouses/stade3.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
main header {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
main header div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex: 1;
}
main header div img {
  flex: 1;
  width: 5vw;
  height: 5vw;
}
main header div span {
  font-family: scoreboardregular;
  font-size: 5rem;
  color: white;
  line-height: normal;
}
main section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}
main section div p {
  text-align: center;
  color: white;
  font-size: 1.25vw;
}
main menu {
  display: flex;
  flex-direction: column;
  width: 80vw;
}
main menu bascule {
  display: flex;
  flex-direction: row;
}
main menu bascule img {
  align-self: flex-start;
  padding-right: 20px;
}
main menu bascule span {
  align-self: flex-start;
  font-size: 1.6rem;
  color: white;
}
main menu carousel {
  display: flex;
  align-self: center;
}
main menu carousel .carousel-caption {
  padding-top: 30px!important;
}
main menu carousel .titre {
  font-size: 1.5vw;
}
.cadre {
  border-color: white;
  border-style: solid;
  border-width: 2px;
}
