/* ne pas mettre de . avant le chemin sinon cela ne fonctionne pas  */
@import url(../typo/scoreboard/stylesheet.css);
@import url(../typo/passion_one/stylesheet.css);
/*@import url(../carousel/carouselSP.css);* ne pas utiliser car ca résoud 
plein de soucis sur le carousel/

/* compatibilité des autres navigateurs 
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
*/

html {
    margin: 10px;
}

body {
    background-color:white;
}

/*************** MENUS ****************/
.navbar {
    background-color: white;
    border-bottom: 3px solid green;
    height: fit-content;
}

.navbar-brand {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-self: center;
    background-color: white;
}
  
object#svgAlarm {
    height: 5em;
}
  
/* p.card-texte.asi-text : pas reconnnu */
/* .card-texte.asi-text: pas reconnu */
.asi-text{
  font-family: passion_oneregular;
  color: green;
  font-weight: normal;
  font-size: 1em;
  text-align: center;
  margin-bottom: 10px;
}

.asi-title {
  color: black;
  font-family: scoreboardregular;
  font-size: 4em;
}
  
/*************** CONTENT ****************/
content div {
  background-color: #f5efef;
  margin: 10px;
  font-size: 2em;
}

@media (max-device-width: 480px) {
  /* je m'appuie sur BOOTSTRAP !!! */

  /* alignement dex deux zones vignette + infos */
  .card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  /* position du bloc des indicateurs circulaires pris en chargev*/
  .carousel-indicators {
    bottom: -90px;
    justify-content: space-between; 
  }

  /* forme spécifique circulaire des indicateurs 
  les !mportant sont nécessaires
  */
  .cercle {
    background-color: green !important;
    filter: grayscale(100%);
    border-radius: 50%;
    width: 40px !important;
    height: 40px !important;
  }

  /* pris en charge*/
  .cercle.active {
    filter: grayscale(0%);
  }

  /* gestion de la position des flèches de défilement pris en charge*/
  .carousel-control-prev-icon,   
  .carousel-control-next-icon {
    width: 50px;
    height: 50px;
  }

  .carousel-control-prev-icon {
    background-image: url("../svg/prev.svg");
  }

  .carousel-control-next-icon {
    background-image: url("../svg/next.svg");
  }

  .carousel-control-prev {
    width: 50px;
    height: 80%;
    left: -50px;
    justify-content: flex-start;
  }

  .carousel-control-next {
    width: 50px;
    height: 80%; 
    right: -50px;
    justify-content: flex-end;
  }

  .carousel-inner {
    display:flex;
    flex-direction: row;
    justify-items: center;
  }

  .carousel-inner + .carousel-item {
    overflow: hidden;
  }

  /* <DIV> */
  .carousel-caption {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    top: 20px;
    background-color: transparent !important;
  }

  #zoneQuizz{
    top: 100px;
    border-top: solid green 3px;
    margin: 20px;
  }

  .card-body {
    margin: 0px !important; /* retire le cadre blanc */
    display: flex;
    flex-direction: column;
  }

  h1 {
    display: flex;
    flex-direction: row;
  }
  .card-title {
    display: flex;
    font-family: system-ui;
  }

  #svgInfo, #svgNiveau, #svgLoi {
    height: 1.2em;
    filter: invert(20%) sepia(97%) saturate(4013%); /* tous et IE */
    -webkit-filter: invert(20%) sepia(97%) saturate(4013%); /*SAFARI OPERA CHROME */
    -moz-filter: invert(20%) sepia(97%) saturate(4013%); /*FIREFOX */
  }

  .titreQuizz, .descriptionQuizz, .loiQuizz{
    color: black;
    font-weight: normal;
    font-size: 32pt;
    padding-left: 10px;
    flex-grow: 1; /* prend toute la largeur de la zone */
  }

  #btnQuizz {
    font-size: 34pt;
    margin: 10px;
    padding: 20px;
  }

  /*_________    SLIDERS _____*/
  @import url(https://fonts.googleapis.com/css?family=Josefin+Slab:100);

  .animate {
    transition: transform 0.3s ease-out;
  }
  
  html,
  body {
    height: 100%;
  }
  
  body {
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  .slider-wrap {
    width: 300px;
    height: 500px;
    position: absolute;
    left: 50%;
    margin-left: -150px;
    top: 50%;
    margin-top: -225px;
  }
  
  .slider {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  
  .ms-touch.slider {
    overflow-x: scroll;
    overflow-y: hidden;
    
    -ms-overflow-style: none;
    /* Hides the scrollbar. */
    
    -ms-scroll-chaining: none;
    /* Prevents Metro from swiping to the next tab or app. */
    
    -ms-scroll-snap-type: mandatory;
    /* Forces a snap scroll behavior on your images. */
    
    -ms-scroll-snap-points-x: snapInterval(0%, 100%);
    /* Defines the y and x intervals to snap to when scrolling. */
  }
  
  .holder {
    width: 300%;
    max-height: 500px;
    height: 100%;
    overflow-y: hidden;
  }
  
  .slide-wrapper {
    width: 33.333%;
    height: 100%;
    float: left;
    height: 500px;
    position: relative;
    overflow: hidden;
  }
  
  .slide {
    height: 100%;
    position: relative;
  }
  
  .temp {
    position: absolute;
    z-index: 1;
    color: white;
    font-size: 100px;
    bottom: 15px;
    left: 15px;
    font-family: 'Josefin Slab', serif;
    font-weight: 100;
  }
  
  .slide img {
    position: absolute;
    z-index: 0;
    transform: translatex(-100px);
  }
  
  .slide:before {
    content: "";
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40%;
    background: linear-gradient(transparent, black);
  }
  
  .slide div {
    width: 300px;
    height: 500px;
    z-index: 0;
  }

}

/*************** FOOTER ****************/
footer {
  
  font-size: 2em;
}
