/* ne pas mettre de . avant le chemin sinon cela ne fonctionne pas  */
@import url(../typo/scoreboard/stylesheet.css);
@import url(../typo/passion_one/stylesheet.css);

:root {
  --fond-color: #f5efef;
  --fond-proposition: #c1a809;
}


/* compatibilité des autres navigateurs 
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
*/

*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


@media (max-device-width: 480px) {
  /*************** CONTENT ****************/


  html {
      margin: 10px;
  }

  body {
      display: flex;
      flex-direction: column;
      min-height: 20em;
      background-color: white;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  }

  /* je m'appuie sur BOOTSTRAP !!! */

  /*************** MENUS ****************/
  .navbar {
      background-color: white;
      border-bottom: 3px solid green;
      height: fit-content;
  }

  .navbar-brand {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-self: center;
      background-color: white;
  }
    
  object#svgAlarm {
      height: 5em;
  }
  
  /* p.card-texte.asi-text : pas reconnnu */
  /* .card-texte.asi-text: pas reconnu */
  .asi-text{
    font-family: passion_oneregular;
    color: green;
    font-weight: normal;
    font-size: 1em;
    text-align: left;
    margin-bottom: 10px;
  }

  .asi-title{
    color: black;
    font-family: scoreboardregular;
    font-size: 4em;
  }

  content {
    background-color: #f5efef;
    margin: 10px;
    flex-direction: column;
    align-items: stretch;
  }

  .card {
    display: flex;
    flex: 1;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
  }

  .question{
    display: flex;
    flex: 1;
    width: 100%;
    font-size: 4em;
    background-color: #f5efef;
    padding: 10px;
  }

  .card-body {
    flex-direction: row;
    justify-content: space-around;
  }

  .card-title {
    font-family: system-ui;
    color: white;
    font-size: 32pt;
    flex-grow: 1;
    background-color: red;
    padding: 10px;
    text-align: center;
  }

  #btnQuestion {
    display: none;
    justify-content: center;
    font-size: 34pt;
    margin: 10px;
    padding: 20px;
  }

  h1 {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }

  .titre {
    padding-left: 1em;
  }

  #poster {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 1em;
  }

  #btnGameOver {
    font-size: 3em;
    margin-top: 1em;
    width: 80%;
    align-items: center;
  }

  .infosQuizz {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 2em;
    margin-right: 2em;
  }

  #ring {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2em;
  }

  svg {
    display: none;
    justify-content: center;
    background: transparent;
    width: 400px;
    height: 400px;
  }

  pt {
    font-size: 1em;
  }
/********************************/
}