/* ne pas mettre de . avant le chemin sinon cela ne fonctionne pas  */
@import url(https://fonts.googleapis.com/css?family=Josefin+Slab:100);

/*_________    SLIDERS _____*/

.animate {
  transition: transform 0.3s ease-out;
}

.ms-touch.slider {
  overflow-x: scroll;
  overflow-y: hidden;
  
  -ms-overflow-style: none;
  /* Hides the scrollbar. */
  
  -ms-scroll-chaining: none;
  /* Prevents Metro from swiping to the next tab or app. */
  
  -ms-scroll-snap-type: mandatory;
  /* Forces a snap scroll behavior on your images. */
  
  -ms-scroll-snap-points-x: snapInterval(0%, 100%);
  /* Defines the y and x intervals to snap to when scrolling. */
}

.slider-wrap {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: blue;
  width: 85%;
  height: 32vh;
}

.slider {
  width: 100%;
  /* height: 100%;*/
  overflow: hidden;
  background-color: red;
  height: 100%;
}
  
.holder {
  width: 300%;  /* correspond nb SLIDE * 100% */
  /*max-height: 500px;*/
  /*height: 100%;*/
  overflow-y: hidden;
  background-color: yellow;
}
  
.slide-wrapper {
  width: 33.333%; /* correspond 100% / nb SLIDE */
  height: 100%;
  float: left;
  height: 500px;
  position: relative;
  overflow: hidden;
}
  
.slide {
  height: 100%;
  position: relative;
}

.slide img {
 /* position: absolute;*/
  z-index: 0;
  /*transform: translatex(-100px);*/
  /*height: 100%;
  width: 100%;*/
}
/*
.slide2:before {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40%;
  background: linear-gradient(transparent, black);
}
*/

.temp {
  position: absolute;
  z-index: 1;
  color: white;
  font-size: 100px;
  bottom: 15px;
  left: 15px;
  font-family: 'Josefin Slab', serif;
  font-weight: 100;
}

span {
  color: black;
  font-size: 48pt;
  font-family: 'Josefin Slab', serif;
}

/* INDICATEURS */
.indicateurs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  margin-top: 2em;
}

/* position du bloc des indicateurs circulaires pris en charge 
on s'appuie sur BOOTSTRAP */
.carousel-indicators {
  justify-content: space-between !important; 
  margin: 0 !important;
  position: relative !important;
}

.cercle {
  background-color: green !important;
  filter: grayscale(100%);
  border-radius: 50%;
  width: 2em !important;  /* taille puce */
  height: 2em !important; /* taille puce */
  margin-left: 3em !important;
  margin-right: 3em !important;
}

.cercle-active {
  background-color: green !important;
  filter: grayscale(0%);
  border-radius: 50%;
  width: 2em !important;  /* taille puce */
  height: 2em !important; /* taille puce */
  margin-left: 3em !important;
  margin-right: 3em !important;
}