@import url(./typo/scoreboard/stylesheet.css);
@import url(./typo/passion_one/stylesheet.css);

:root {
  --marge-laterale: 0.5vw;  /* marge générale*/
  --marge-verticale: 0.5vh;           /* marge générale*/
  --gouttiere_verticale: calc(var(--marge-verticale) / 2); /* marge générale / 2 */
  --heightBandeau: calc(( 100vh *0.1) - var(--marge-verticale) - var(--gouttiere_verticale));
  --widthBandeau: calc( 100vw * 0.2);
}


/* mettre après root */


html {
  /* héritage actif */
  padding: 0;
  background-color: white;

}

a {
  font-family: scoreboardregular, system-ui;
}

/********************* CSS COMMUN *******************/
body {
  background: #eaebec;
  
  display: flex!important;
  flex-direction: column;
  justify-content: center;
  align-items: start;

  min-height: 100vh; 

  margin-top: 0;
  margin-bottom: 0;
  margin-left: var(--marge-laterale);
  margin-right: var(--marge-laterale);

  /* héritage actif 
  font-family: scoreboardregular, sans-serif;
  font-size: 1.5em;
  color: white;*/
}

/********************************************  HEADER  ****************************************/
header {
  display: flex!important;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100vw;

  max-height: var(--heightBandeau); /* obligatoire sinon se propage vers le bas*/
  min-height: var(--heightBandeau);

  margin-top: var(--marge-verticale);
  margin-bottom: var(--gouttiere_verticale);

  background-color: transparent;
}

#asi_logo {
  display: flex!important;
  flex: 0.1;
  padding-left: var(--marge-laterale);
}

#asi_logo_img {
    height: 5em;
    vertical-align: middle;;
    padding-right: 1vh;
}

#asi_title {
  flex: 0.8;
  padding-left: var(--marge-laterale);
  padding-right: var(--marge-laterale);
  font-family: scoreboardregular, sans-serif;
  font-size: 9vw;
  color: black;
  line-height: normal;
}

/********************************************  FIN .HEADER  ****************************************/

use {
  display: flex!important;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
  width: 100vw;
  flex: 1;

  margin-top: var(--gouttiere_verticale);
  margin-bottom: var(--gouttiere_verticale);
}

/*il faut que ce soit le ID car CLASS n'est pas prioritaire*/
#titre{
  font-family: passion_oneregular, sans-serif;
  font-size: 3em;
  color: green ;
  line-height: 1.5em;
  padding-left: 0.5em;
}

footer {
  display: flex!important;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100vw;
 
  min-height: var(--heightBandeau); /* obligatoire sinon se réduit vers le haut*/
  max-height: var(--heightBandeau);

  margin-top: var(--gouttiere_verticale);
  margin-bottom: var(--marge-verticale);
}

.btn {
  font-family: passion_oneregular, system-ui;
}


/********************* CSS PORTRAIT *******************/
@media (orientation: portrait) {
}

/********************* CSS PAYSAGE *******************/
@media (orientation: landscape) {
}