@import url(./typo/scoreboard/stylesheet.css);
@import url(./typo/passion_one/stylesheet.css);

:root {
  --fond-color: #f5efef;
  --proposition: #c1a809;
  --proposition-ko: red;
  --proposition-ok: green;
  --proposition-none:white;
}

html {

}

a:link,
a:visited, 
a:active {
text-decoration: none;
}

body {
  display: flex;
  flex-direction: column;
  background-color: white;
 /* justify-content: flex-start;*/
  align-items: center;
}

content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  /* alignement vertical sur le viewport */
  margin-top: 45vh; /* poussé de la moitié de hauteur de viewport */
  transform: translateY(-50%); /* tiré de la moitié de sa propre hauteur */

  /* animation*/
  Animation-name : fade ;
  Animation-delay : 0s ;
  Animation-duration : 4s ;
  Animation-iteration-count : 1 ;
}

object {
  height: 20em;
  vertical-align: top;
}

footer {
  display: flex;
  margin-top : auto;
  justify-content: center;
}

@keyframes fade {
  0% {
    Opacity : 0 ;
    transform: scale(0)   /* echelle */
      translateY(-50%);   /* tiré de la moitié de sa propre hauteur */
  }
  100% {
    Opacity : 1 ;
    transform: scale(1) 
      translateY(-50%);
  }
}

.titre {
  font-family: scoreboardregular;
  font-size: 5em;
  color: black;
}

.footer {
  font-family: var(--font-family-sans-serif);
  font-size: 2em;
  color: black;
  padding-bottom: 1em;
}

/* SMARTPHONE */
  @media (orientation: portrait) and (max-device-width: 480px) {

}

/* IPAD */
@media (orientation: portrait) and (min-device-width: 481px) and (max-device-width: 768px){

}