/* ne pas mettre de . avant le chemin sinon cela ne fonctionne pas  */
@import url(typo/scoreboard/stylesheet.css);
@import url(typo/passion_one/stylesheet.css);

:root {
  --fond-color: #f5efef;
}

html {
  -webkit-text-size-adjust: none;
}

body {
  touch-action: none;
  display: flex;
  flex-direction: column;
  background-color: white;
}

header{
  display: flex;
}

content {
  display: flex;
}

footer {
  margin-top : auto;
  display: flex;
}

/* petits écrans */
@media (orientation: portrait) and (max-device-width: 480px) {
  /*********  MENUS  **********/
  header {
    /* ici il prend toute la largeur */
    border-bottom: 0.3em solid green; 
  }
  
  nav {
    display: flex;
  }

  nav a{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-left: 1em;
  }

  object {
    height: 7em;
  }

  nav a span {
    font-family: scoreboardregular;
    font-size: 6em;
    color: black;
  }

  /*********  CONTENT  **********/
  content {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    flex: 1;
  }

  content p {
    color: green;
    font-family: passion_oneregular;
    font-size: 4em;
    font-weight: normal;
    text-align: center;
  }

  .card {
    display: flex;
    flex-direction: row;
    justify-content: center !important;
    flex-wrap: wrap;

  }

  .card-body {
    padding: 3em;
  }

  .card-title {
    font-size: 3em;
    font-family: passion_oneregular;
    font-weight: normal;
    text-align: left;
    color: black;
    background-color: var(--fond-color);
    padding-left: 0.2em;
  }

  .card-img-top {
    border: 2px solid green;
  }

  /*********  FOOTER  **********/
  footer {
    /* ici il prend toute la largeur */
    border-top: 0.3em solid green; 
    flex-direction: row;
    justify-content: start;
    height: 5em;
    /* ci-dessous : permet de coller à CONTENT */
    align-items: flex-start;
    min-height: 500px;
  }

  footer p {
    color: grey;
    font-family: passion_oneregular;
    font-size: 2em;
    padding-left: 1em;
    font-weight: normal;
  }
}

/* ecrans moyens */
@media (orientation: portrait) and (max-device-width: 800px) {
  
}

/* ecrans moyens : width correspond à la vrai largeur en pixel*/
@media (orientation: landscape) and (max-device-width: 667px){
  html {
    -webkit-text-size-adjust: 100%;
   -ms-text-size-adjust: 100%;
  }
  
  header {
    /* ici il prend toute la largeur */
    border-bottom: 0.3em solid green; 
  }
  
  nav {
    display: flex;
  }

  nav a{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-left: 1em;
  }

  object {
    height: 3em;
  }

  nav a span {
    font-family: scoreboardregular;
    font-size: 4em;
    color: black;
  }

  /*********  CONTENT  **********/
  content {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    flex: 1;
  }

  content p {
    color: green;
    font-family: passion_oneregular;
    font-size: 2em;
    font-weight: normal;
    text-align: center;
  }

  .card {
    display: flex;
    flex-direction: row;
    justify-content: center !important;
    flex-wrap: nowrap;  /* permet d'avoir les 4 en ligne*/

  }

  .card-body {
    padding: 3em;
  }

  .card-title {
    font-size: 3em;
    font-family: passion_oneregular;
    font-weight: normal;
    text-align: left;
    color: black;
    background-color: var(--fond-color);
    padding-left: 0.2em;
  }

  .card-img-top {
    border: 2px solid green;
  }

    /*********  FOOTER  **********/
    footer {
      /* ici il prend toute la largeur */
      border-top: 0.3em solid green; 
      flex-direction: row;
      justify-content: start;
      height: 0.5em;
      /* ci-dessous : permet de coller à CONTENT */
      align-items: flex-start;
      /* min-height: 500px; */
    }
  
    footer p {
      color: grey;
      font-family: passion_oneregular;
      font-size: 1.5em;
      padding-left: 1em;
      font-weight: normal;
    }

}