/* ne pas mettre de . avant le chemin sinon cela ne fonctionne pas  */
@import url(typo/scoreboard/stylesheet.css);
@import url(typo/passion_one/stylesheet.css);

:root {
  --fond-color: #f5efef;
}

body {
  display: flex;
  flex-direction: column;
  background-color: white;
}

header{
  display: flex;
}

content {
  display: flex;
}

footer {
  margin-top : auto;
  display: flex;
}

/* petits écrans */
@media (orientation: portrait) and (max-device-width: 480px) {
  /*********  MENUS  **********/
  header {
    /* ici il prend toute la largeur */
    border-bottom: 0.3em solid green; 
  }
  
  nav {
    display: flex;
  }

  nav a{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-left: 1em;
  }

  object {
    height: 7em;
  }

  nav a span {
    font-family: scoreboardregular;
    font-size: 6em;
    color: black;
  }

  /*********  FOOTER  **********/
  footer {
    /* ici il prend toute la largeur */
    border-top: 0.3em solid green; 
    flex-direction: row;
    justify-content: start;
    align-items: center;
    height: 5em;
  }

  footer p {
    color: grey;
    font-family: passion_oneregular;
    font-size: 2em;
    padding-left: 1em;
    font-weight: normal;
  }
}

/* ecrans moyens */
@media (orientation: portrait) and (max-device-width: 800px) {

}

/* ecrans moyens */
@media (orientation: landscape) and (max-device-width: 735px){

}