@import url(./typo/scoreboard/stylesheet.css);


html {
  /* héritage actif */
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

@keyframes fade {
  0% {
    Opacity : 0 ;
    transform: scale(0)   /* echelle */
      translateY(-50%);   /* tiré de la moitié de sa propre hauteur */
  }
  100% {
    Opacity : 1 ;
    transform: scale(1) 
      translateY(-50%);
  }
}

.titre {
  font-family: scoreboardregular;
  color: black;
}


use {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* animation*/
  transform: translateY(-50%); /* tiré de la moitié de sa propre hauteur */
  Animation-name : fade ;
  Animation-delay : 0s ;
  Animation-duration : 4s ;
  Animation-iteration-count : 1 ;
  margin-top: 45vh; /* poussé de la moitié de hauteur de viewport */
}

@media (orientation: portrait) {

  object {
    height: 20em;
  }

  .titre {
    font-size: 5em;
  }
}

@media (orientation: landscape) {

  object {
    height: 10em;
  }

  .titre {
    font-size: 3em;
  }
}