@import url(./typo/scoreboard/stylesheet.css);
@import url(./typo/passion_one/stylesheet.css);
@import url(./commun.css);

body {
  display: flex;
  flex-direction: column;
}

content {
  display: flex;
  flex-direction: column;
  align-items: center;

  /* alignement vertical sur le viewport */
  margin-top: 45vh; /* poussé de la moitié de hauteur de viewport */
  transform: translateY(-50%); /* tiré de la moitié de sa propre hauteur */

  /* animation*/
  Animation-name : fade ;
  Animation-delay : 0s ;
  Animation-duration : 4s ;
  Animation-iteration-count : 1 ;
}

footer {
  display: flex;
  margin-top : auto;
  justify-content: center;
}

@keyframes fade {
    0% {
      Opacity : 0 ;
      transform: scale(0)   /* echelle */
        translateY(-50%);   /* tiré de la moitié de sa propre hauteur */
    }
    100% {
      Opacity : 1 ;
      transform: scale(1) 
        translateY(-50%);
    }
  }

/* petits écrans */
@media (orientation: portrait) and (max-device-width: 480px) {
  object {
    height: 20em;
  }

  .titre {
    font-family: scoreboardregular;
    font-size: 5em;
    color: black;
  }

  .footer {
    font-family: var(--font-family-sans-serif);
    font-size: 2em;
    color: black;
    padding-bottom: 1em;
  }
}

/* ecrans moyens : width correspond à la vrai largeur en pixel*/
@media (orientation: landscape) and (max-device-width: 667px){
  object {
    height: 10em;
  }

  .titre {
    font-family: scoreboardregular;
    font-weight: lighter;
    font-size: 3em;
    color: black;
  }

  .footer {
    font-family: var(--font-family-sans-serif);
    font-size: 1em;
    color: black;
    padding-bottom: 1em;
  }
}

/* ecrans moyens : width correspond à la vrai largeur en pixel*/
@media (orientation: portrait) and (min-device-width: 668px){
  object {
    height: 5em;
  }

  .titre {
    font-family: scoreboardregular;
    font-size: 3em;
    color: black;
  }
}