@import url(./src/typo/scoreboard/stylesheet.css);
@import url(./src/typo/passion_one/stylesheet.css);

// minireset.css v0.0.3 | MIT License | github.com/jgthms/minireset.css 
html,body,p,ol,ul,li,dl,dt,dd,blockquote,figure,fieldset,legend,textarea,pre,iframe,hr,h1,h2,h3,h4,h5,h6{margin:0;padding:0}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}ul{list-style:none}button,input,select,textarea{margin:0}html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}img,embed,iframe,object,audio,video{height:auto;max-width:100%}iframe{border:0}table{border-collapse:collapse;border-spacing:0}td,th{padding:0;text-align:left}
/* 
font-size: 100%; // this is usually 16px by default 
*/
html {
    font-family: passion_oneregular;    // police par défaut 
}

body {
    min-height: 100vh;      // hauteur maximum 
    display: flex;
    flex-direction: column;     // alignement vertical des 
}

main {
    display: flex;
    flex-direction: column;     // alignement vertical des zones 
    align-items: center;

    flex: 1;  // prend toute la hauteur restante : donc 100% dans ce cas

    background-image: url("./images/pelouses/stade3.jpg");
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover;     // couvre tout l'écran

    header {
        display:flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        img {
            width: 3vw;
            height: 3vw;
        }
 
        span {
            font-family: scoreboardregular;
            font-size: 5vw; // taille variable selon largeur du viewport
            color:white;
            line-height: normal;
        }
    }

    section {
        width: 80vw;   // on limite l'étalement des objets en largeur
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;

        div p {
            text-align: center;
            color:white;
            font-size: 1.25vw; // taille variable selon largeur du viewport
        }

        div {
            padding-top: 1em;

            img {
                border: 3px;
                border-color: white;
                border-style: solid;
                margin-bottom: 3em;
            }
        }
    }

    menu {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;  // permet d'étaler les objets sur la largeur
        color:white;
        width: 80vw;   // on limite l'étalement des objets en largeur
        
        module {
            border-radius: 50%;
            background-image: url("./images/isa.png");
            background-repeat: no-repeat;
            background-position: center; 
            background-size: cover;     // couvre tout l'écran 
        
            width: 10vw;
            height: 10vw;
        
            font-size: 2.5vw; // taille variable selon largeur du viewport

            a {
                text-decoration: none;
                font-size: 2.5vw !important;
                color: white !important;
            }

            a:hover {
                text-decoration: none;
                font-size: 3vw;
                font-weight: bolder;
                color: white;
            }
        }
    }

    content {
        width: 80vw;   // on limite l'étalement des objets en largeur
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        padding-top: 4em;

        div p {
            color: white;
            text-align: center;
            font-size: 1.5vw; // taille variable selon largeur du viewport
            font-weight: bold;
        }

        licence {
            color: white;
            text-align: center;
            font-size: 1.5vw; // taille variable selon largeur du viewport
            font-weight: bold;

            a, a:hover, a:visited, a:link , a:active{
                color: yellow;
            }
        }
    }
}