@import url(./typo/scoreboard/stylesheet.css);
@import url(./typo/passion_one/stylesheet.css);

:root {
  --marge-laterale: 0.5vw;  /* marge générale*/
  --marge-verticale: 0.5vh;           /* marge générale*/
  --gouttiere_verticale: calc(var(--marge-verticale) / 2); /* marge générale / 2 */
}



html {
  /* héritage actif */
  padding: 0;
  background-color: white;
}

/********************* CSS COMMUN *******************/
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;

  min-height: 100vh; 

  margin-top: 0;
  margin-bottom: 0;
  margin-left: var(--marge-laterale);
  margin-right: var(--marge-laterale);

  /* héritage actif */
  font-family: scoreboardregular, sans-serif;
  font-size: 1.5em;
  color: white;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: start;
  width: 100vw;
  flex: 0.1;

  margin-top: var(--marge-verticale);
  margin-bottom: var(--gouttiere_verticale);

  background-color: green;
}

use {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
  width: 100vw;
  flex: 1;

  margin-top: var(--gouttiere_verticale);
  margin-bottom: var(--gouttiere_verticale);

  background-color: blue;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: start;
  width: 100vw;
  flex: 0.1;  

  margin-top: var(--gouttiere_verticale);
  margin-bottom: var(--marge-verticale);

  background-color: red;
}

/********************* CSS PORTRAIT *******************/
@media (orientation: portrait) {
  body {
    background-color: white;
  }
}

/********************* CSS PAYSAGE *******************/
@media (orientation: landscape) {
  body {
    background-color: yellow;
  }
}