@import url(./typo/scoreboard/stylesheet.css);
@import url(./typo/passion_one/stylesheet.css);

html {

}

body {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;

  min-height: 100vh; 

  background-color: white;


  font-family: scoreboardregular, sans-serif;
  font-size: 1.5em;
  color: white;

  /* héritage actif */
  box-sizing : border-box; 
  margin: 0;
  padding-bottom: 0.5vh;
  padding-left: 1vw;
  padding-right: 1vw;
  padding-top: 0.5vh;

}

header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: start;
  width: 100vh;
  flex: 0.1;
  padding-top: 0.5vh;
  padding-left: 1vw;
  padding-right: 1vw;
  padding-bottom: 0.5vh;
  background-color: green;
}

use {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
  width: 100vh;
  flex: 1;
  padding-top: 0.5vh;
  padding-bottom: 0.5vh;
  padding-left: 1vw;
  padding-right: 1vw;
  background-color: blue;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: start;
  width: 100vh;
  flex: 0.1;
  padding-top: 0.5vh;
  padding-left: 1vw;
  padding-right: 1vw; 
  padding-bottom: 0.5vh;
  

  background-color: red;
}

