@import url(src/typo/scoreboard/stylesheet.css);
@import url(src/typo/passion_one/stylesheet.css);
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
ul {
  list-style: none;
}
button,
input,
select,
textarea {
  margin: 0;
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
img,
embed,
iframe,
object,
audio,
video {
  height: auto;
  max-width: 100%;
}
iframe {
  border: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
  text-align: left;
}
/* 
font-size: 100%; // this is usually 16px by default 
*/
html {
  font-family: passion_oneregular;
}
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
/*
    MAIN                  
        HEADER            
        SECTION           
        MENU              
             MODULE       
        CONTENT           
             VIDEO        
             INTERACTION  
    FOOTER
*/
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  background-image: url("images/pelouses/stade3.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
main header {
  font-family: scoreboardregular;
  font-size: 3vw;
  color: white;
}
main section {
  width: 80vw;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}
main section div p {
  text-align: center;
  color: white;
  font-size: 1.5vw;
}
main menu {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  color: white;
  width: 80vw;
}
main content {
  width: 95vw;
  display: flex;
  flex-direction: ;
  flex-wrap: nowrap;
  justify-content: center;
  min-height: auto;
}
main content match {
  display: flex;
  flex: 3;
}
main content match video {
  border: 1px;
  border-color: white;
  border-style: solid;
  flex: 1;
}
main content inter {
  margin-left: 7px;
  flex: 1;
  background-color: antiquewhite;
}
footer {
  flex-grow: 0;
  flex-shrink: 1;
  background-color: midnightblue;
  color: white;
  padding-top: 5px;
  padding-left: 5px;
  font-size: 1vw;
  flex-basis: 2.5rem;
}
