@import url(src/typo/scoreboard/stylesheet.css);
@import url(src/typo/passion_one/stylesheet.css);
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
ul {
  list-style: none;
}
button,
input,
select,
textarea {
  margin: 0;
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
img,
embed,
iframe,
object,
audio,
video {
  height: auto;
  max-width: 100%;
}
iframe {
  border: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
  text-align: left;
}
/* 
font-size: 100%; // this is usually 16px by default 
*/
html {
  font-family: passion_oneregular;
}
body {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}
/*
    MAIN                  
        HEADER            
        SECTION           
        MENU              
             MODULE       
        CONTENT           
             VIDEO        
             INTERACTION  
    FOOTER
*/
tete.Question {
  background-color: #e0a47b;
}
tete.Bonus {
  background-color: #64c832;
}
tete.Information {
  background-color: #96e1f1;
}
.green {
  background-color: #64c832;
}
.rouge {
  background-color: red;
}
/*suite.Question {
    border-top-color: rgb(224, 164, 123);
} 

suite.Bonus {
    border-top-color: rgb(100, 200, 50);
} 

suite.Information {
    border-top-color: rgb(150, 225, 241);
} */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  background-image: url("images/pelouses/stade3.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
main header {
  font-family: scoreboardregular;
  font-size: 3vw;
  color: white;
}
main section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}
main section div p {
  text-align: center;
  color: white;
  font-size: 1.5vw;
}
main menu {
  display: flex;
  flex-direction: column;
  width: 80vw;
}
main menu bascule {
  display: flex;
  flex-direction: row;
}
main menu bascule img {
  align-self: flex-start;
  padding-right: 20px;
}
main menu bascule span {
  align-self: flex-start;
  font-size: 1vw;
  color: white;
}
main menu carousel {
  display: flex;
  align-self: center;
}
main content {
  width: 95vw;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  min-height: auto;
  flex: 1;
}
main content match {
  display: flex;
  flex-direction: column;
  flex: 3;
}
main content match video {
  flex: 3;
}
main content inter {
  display: none;
  flex-direction: column;
  justify-content: start;
  align-self: flex-start;
  margin-left: 7px;
  flex: 1;
  padding: 7px;
}
main content inter tete {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  -webkit-border-top-left-radius: 20px;
  -webkit-border-top-right-radius: 20px;
  -moz-border-radius-topleft: 20px;
  -moz-border-radius-topright: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding: 5px;
}
main content inter tete niveau {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  flex: 1;
  padding-left: 15px;
}
main content inter tete niveau .btn {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  background-color: transparent;
  border-color: transparent;
  padding: 0px;
}
main content inter tete niveau .btn:hover {
  background-color: transparent;
  border-color: transparent;
}
main content inter tete niveau .badge {
  display: flex;
  margin-right: 1px;
  font-weight: 100;
  font-size: 1vw;
  text-align: center;
}
main content inter tete niveau .badge-current {
  display: flex;
  margin-right: 1px;
  font-weight: 700;
  font-size: 1.25vw;
  text-align: center;
}
main content inter tete titre {
  flex: 10;
}
main content inter tete titre p {
  text-align: center;
  font-size: 1.5vw;
  color: black;
  flex: 2;
}
main content inter tete points {
  display: flex;
  flex: 1;
  padding-left: 10px;
  justify-content: flex-end;
}
main content inter tete points span {
  padding-left: 2px;
  font-size: 1.5vw;
  color: black;
}
main content inter jauge {
  background-color: white;
  padding-top: 8px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  flex: 0.4;
}
main content inter jauge .progress {
  background-color: #ddcdc3;
  font-size: 1vw;
}
main content inter jauge .progress .progress-bar {
  color: black;
  background-color: #e0a47b;
}
main content inter question {
  background-color: white;
  flex: 0.5;
}
main content inter question p {
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 10px;
  text-align: left;
  font-size: 1.25vw;
  color: black;
}
main content inter propositions {
  display: flex;
  flex-direction: column;
  justify-content: start;
  background-color: white;
  padding-left: 7px;
  padding-right: 7px;
  flex: 4;
}
main content inter propositions .btn {
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 5px;
  padding-right: 5px;
  text-align: left;
  font-size: 1.1vw;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
main content inter complement {
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex: 0.5;
}
main content inter complement p {
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-top: 20px;
  text-align: left;
  font-size: 1.12vw;
  color: green;
}
main content inter complement img {
  display: none;
  padding-right: 3px;
}
main content inter suite {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px;
  background-color: white;
  flex: 1;
  -webkit-border-bottom-left-radius: 20px;
  -webkit-border-bottom-right-radius: 20px;
  -moz-border-radius-bottomleft: 20px;
  -moz-border-radius-bottomright: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
main content inter suite replay {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex: 1;
}
main content inter suite replay span {
  display: flex;
  background-image: url("images/replay.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  color: black;
  font-size: 1vw;
  padding-bottom: 3px;
  padding-top: 8px;
  flex-direction: row;
  justify-content: center;
  height: fit-content;
  flex: 1;
}
main content inter suite score {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex: 2;
}
main content inter suite score p {
  display: flex;
  font-family: scoreboardregular;
  font-size: 2vw;
  color: black;
}
main content inter suite next {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex: 1;
}
main content inter suite next img {
  display: flex;
  width: 50%;
}
.cadre {
  border-color: white;
  border-style: solid;
  border-width: 2px;
}
footer {
  flex-grow: 0;
  flex-shrink: 1;
  background-color: midnightblue;
  color: white;
  padding-top: 5px;
  padding-left: 5px;
  font-size: 1vw;
  flex-basis: 2.5rem;
}
footer .events {
  color: midnightblue;
  font-size: 0.5vw;
}
