/* STYLES POUR MOBILE */

html {
    margin: 10px;
    font-family:"Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

#init {
    position: absolute;
    margin-right: 0px;
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    z-index: 1000;
}

body {
    background-color:white;
}

/* ZONE MENU */
.nav {
    background-color: white;
    border-bottom: 2px solid green;
}

/* container onglet */
.nav-item {
    font-size: 3em;
    background-color: white;
}

.nav-item.active {
    font-size: 3em;
    background-color: green;
}

/* liens hypertexte du menu */
.nav-link:hover,
.nav-link:active,
.nav-link:link,
.nav-link:visited {
    color: green;
    text-decoration: none;
}

.navlink {
    font-weight: normal;
    color: green;
}

.nav-link.active {
    font-weight: bold;
    color: white;
}

.onglet {
    display: none;
}


.onglet.active {
    display: flex;
}

/* ZONE CONTENT */
content div {
    background-color:rgb(245, 239, 239);
    margin: 10px;
    font-size: 2em;
}

footer {
    font-size: 2em;
}