@import url(../typo/scoreboard/stylesheet.css);
@import url(../typo/passion_one/stylesheet.css);
@import url(../commun.css);
main section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}
main section div {
  color: white;
  font-size: 1.5vw;
  font-family: passion_oneregular;
}
main menu {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  color: white;
  width: 80vw;
}
main menu div ul li {
  font-size: 2vw;
}
main menu div ul li img {
  width: 4%;
}
main menu div p {
  font-size: 1.5vw;
  font-family: Arial, Helvetica, sans-serif;
}
main menu div span {
  justify-items: center;
}
