:root {
    --fond-color: #f5efef;
    --proposition: #c1a809;
    --proposition-ko: red;
    --proposition-ok: green;
    --proposition-none:white;
}

html {

}

a:link,
a:visited, 
a:active {
  text-decoration: none;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: white;
}

content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

header {
    /* ici il prend toute la largeur */
    border-bottom: 0.3em solid green; 
}

 /* zone du haut */
 nav {
    display: flex;
}

/* logo SVG */
object {
    height: 6em;
    vertical-align: top;
}

/* titre en font score */
nav a span {
    font-family: scoreboardregular;
    color: black;
}

/* titre/question */
content div p{
    color: green;
    font-family: passion_oneregular;
    font-weight: normal;
    text-align: center;
}

@media (orientation: portrait) {
    /* titre header */
    nav a span {
        font-size: 5.5em;
    }

    /* titre général de la page */
    content p {
        font-size: 3.2em;
    }
}

@media (orientation: landscape) {

}