/*TOUT CSS



CC 2.0 License Iatek LLC 2018
Attribution required

*/

/* Commentaires PAULO 

Les queries gèrent l'affichage des images

*/

.carousel {
    max-width: auto;
    height: 200px;
    }

.carousel-inner img-fluid {
    width: 100%;
    height: auto;
    }


.img-fluid {
    border-radius: 10px;        /* arrondi des images */
}

.carousel-control-next, .carousel-control-prev { border: 0; }


