footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: nowrap;
    flex-grow: 0;
    flex-shrink: 1; // permet de garder la ligne affichée même si on réduit la taille de la fenêtre
    background-color: midnightblue; 
    color:white;
    padding-top: 5px;
    padding-left: 5px;
    font-size: 1vw; // taille variable selon largeur du viewport
    flex-basis: 2.5rem;       // hauteur = 2 lignes de texte

    a {
        color: yellow;
        text-decoration: none;
    }

    a:hover {
        color: green;

    }
    span {
        flex: 10;
        padding-left: 10px;
        line-height: 1.5;
    }

    .events {
        color: midnightblue;
        font-size: 0.5vw; // taille variable selon largeur du viewport
    }
}