@import url(typo/scoreboard/stylesheet.css);
@import url(typo/passion_one/stylesheet.css);

body {  
  margin-top: 20px;
  background-repeat: no-repeat;
  background-origin: padding-box;
  background-attachment: fixed;
  background-position: center; 
  background-size: 100% 150%;

}

/* les zones */
div.zone {
  display: flex;
  justify-content: center;
  margin: 6px;
}

#stage, #infos{
  float: left;
  background-color: green;
  width: 85%;
}

#goulotte {
  width:2%;
}

#videoOn {
  float: left;
  background-color: black;
  width: 60%;
}

#barre {
  background-color: chocolate;
  width: 100%;
  height: 4px;
}

#board {
  display: grid;        /* utilise le mode grille*/
  grid-template-columns: 88%; /* définit le nombre et la taille des colonnes dans la grille
  align-content: start; /* fixe l'alignement TOP des objets : permet de gérer les espacements*/
  float: left;          /* place la DIV à la suite de la goulotte*/
  justify-content: center;
  width: 23%;
  background-image: url("../images/terrain1.jpg");
  background-repeat: no-repeat;
  background-size: 100% 98%;
  background-position: 0px 10px;  /* créer un décalage vers le bas de l'image */
}
/* fin des zones */

/* ma vidéo */
video {
  margin: auto;
  float: left;
  width: 100%;
  height: 90%;
}

.videoNonEncadre {
  border: 1px solid black;
}

.videoEncadre {
  border: 8px solid red;
}
/* fin des vidéos */

/* Barre */
#questDone {
  background-color: white;
  float: left;
  width: 20%;
}

#questDo {
  background-color: chocolate;
  float: left;
  width: 80%;
}
/* fin de Barre */

/* board */
.zBarre {
  text-align: center;
}

#score {
  background-color: black;
  border: 5px solid white;
  height: 120px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#textBoard {
  font-family: passion_oneregular;
  font-size: 18pt;
  color: white;
  margin-left: 6px;
  margin-right: 6px;
  margin-bottom: 6px;
}

#scoreBoard {
  font-family: scoreboardregular;
  font-size: 38pt;
  color: white;
  margin-left: 6px;
  margin-right: 6px;
  margin-bottom: 6px;
  margin-top: 6px;
}

#btnLevel , #btnContinuer {
  font-family: passion_oneregular;
  font-size: 18pt;
  color: white;
  background-color: chocolate;  
}
/* fin board */

/*  echange  */
#echange {
  float:left;
  height:150px;
  border: 0px;
  margin-bottom: 10px;
  background-image: url("../images/bandeau.png");
  background-repeat: no-repeat;
  background-position: 0px -5px;  /* créer un décalage vers le bas de l'image */
}

#numQuest {
  color: white;

}

#message {
  color: black;
  border: 0px;
  margin-top:20px;
  padding-left: 3px;
  padding-right: 3px;
  background-color: whitesmoke;  
}
/* fin de echange */




/* stage */
/* pas utilisé pour l'instant */
.bouton a {
  display:block;
  width:150px;
  line-height:50px;
  text-align:center;
  vertical-align:middle;
  background:url(images/bouton-noir.png) no-repeat;
  color:white;
  text-decoration: none;
  }
  .bouton a:hover {
  background:url(images/bouton-noir-2.png) no-repeat;
  }
/* fin du stage */
/* barre */
td.progCell {
  background-color: chocolate;
  height:20px;
  padding: 0;

}

hr.prog {
  width: auto;
  height: 5px;
  border: 0px;
  background-color: chocolate;
}
/* fin de la barre */

/* ------------   */

#echanges {
  float:left;
  margin-left:100px;
  width:80%;
  height:100px;
  background-color: whitesmoke;
  color: black;
}

#message2 {
  background-color: whitesmoke;
  border: 0px;

}

#questions {
  background-color: whitesmoke;

}

#propositions {
  background-color: whitesmoke;
}

#reponse {
  background-color: whitesmoke;
}

.centrage {
  text-align: center;
  float:left;
  margin-left:100px;
  width:80%;
}

#gauche {
  float:left;
  border:0px;
  width:50%; 
  background-color:black;
}

#media {   
  color: #ffffe0; 
  font-family: Arial, sans-serif; 
}

.zoneVideo {
  background-repeat:no-repeat;
  background-position:center center;
  position: absolute;
}




table { border: none; margin: auto; margin-top: 1ex;}
th {  text-align: right; }
caption { background-color: #ffffe0; color: black;}
thead th {  background-color: #ffffe0; color: black;}





#droite {
  float:left;
  border:0px;
  width:50%; 
  background-color:black;
}

a:link {
  color: white;
  text-decoration: none;
  }
 a:visited {
  color: green;
  text-decoration: none;
  }
 a:active {
  color: white;
  text-decoration: none;
 }
 a:hover {
  color: green;
  text-decoration: none;
 }

 /* ensemble à garder
html{
  display: flex;
  flex-flow: row nowrap;  
  justify-content: center;
  align-content: center;
  align-items: center;
  height:100%;
  margin: 0;
  padding: 0;
  background:#eeeeee;
}
body {
  margin: 0;
  flex: 0 1 auto;
  align-self: auto;
  width: 100%
  max-width: 900px;
  height: 100%;
  max-height: 600px;
  background:#fafafa;
  -webkit-box-shadow: 0px 0px 96px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 96px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 96px 0px rgba(0,0,0,0.75);
}
*/
