body {  
  background-color: black;
}

#echanges {
  float:left;
  margin-left:100px;
  width:80%;
  height:100px;
  background-color: whitesmoke;
  color: black;
}

#message {
  background-color: whitesmoke;
  border: 0px;

}

#questions {
  background-color: whitesmoke;

}

#propositions {
  background-color: whitesmoke;
}

#reponse {
  background-color: whitesmoke;
}

.centrage {
  text-align: center;
  float:left;
  margin-left:100px;
  width:80%;
}

#gauche {
  float:left;
  border:0px;
  width:50%; 
  background-color:black;
}

#media {   
  color: #ffffe0; 
  font-family: Arial, sans-serif; 
}

.zoneVideo {
  background-repeat:no-repeat;
  background-position:center center;
  position: absolute;
}
video {
  padding: 0; margin: 0;
  width: 80%;
  height: 80%;
  margin: auto;
  float: none;
}

.videoNonEncadre {
  border: 1px solid black;
}

.videoEncadre {
  border: 8px solid green;
}

table { border: none; margin: auto; margin-top: 1ex;}
th {  text-align: right; }
caption { background-color: #ffffe0; color: black;}
thead th {  background-color: #ffffe0; color: black;}
#events td { text-align: right; width: 4ex;}




#droite {
  float:left;
  border:0px;
  width:50%; 
  background-color:black;
}

a:link {
  color: white;
  text-decoration: none;
  }
 a:visited {
  color: green;
  text-decoration: none;
  }
 a:active {
  color: white;
  text-decoration: none;
 }
 a:hover {
  color: green;
  text-decoration: none;
 }