nav {
  background-color: beige;
  margin-bottom: auto;    /* cale en haut */
  height: 100px;          /* hauteur fixe */
}

content {
  background-color: greenyellow;
  flex-grow: 1;           /* hauteur restante */
}

footer {
  background-color: blueviolet;
  margin-top: auto;       /* cale en bas */
  height: 3em;            /* hauteur fixe */
}