body {
  display: flex;            /* actice les flexbox */
  flex-direction: column;   /* affichage en vertical des DIV */
  justify-content: center;  /* on centre verticalement */
  align-items: center;      /* on centre horizontalement */
  flex-wrap: wrap;          /* on autirise à aller à la ligne et on peut gérer les align-item */
}
nav {
  background-color: transparent;
  margin-bottom: auto;      /* cale en haut */
  padding: 5px;             /* créé une marge autour des images*/
  border-radius: 10px;      /* arrondi les container des images */
  flex-direction: row;      /* alignement horizontal */
  justify-content: center;  /* on centre horizontalement */
}

content {
  background-color: greenyellow;
  flex-grow: 1;           /* hauteur restante */
}

footer {
  background-color: blueviolet;
  margin-top: auto;       /* cale en bas */
  height: 3em;            /* hauteur fixe */
}