
.show {
    display: block;
  }
  
.hide {
display: none;
}

  
  .video-js {
    font-size: 0.8em;
  }
  
  .vjs-looping .vjs-loading-spinner {
    display: none;
  }
  
  .video-js .vjs-big-play-button {
    background-color: black;
    opacity: .8;
    font-size: 5em;
  }
  
  .video-js .vjs-menu-item2 {
    text-align: right;
    margin-right: 3px;
    width: 80%;
  }